/* Enjoy!! 👾 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #c8d218;
  font-family: "Varela Round";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 400px;
  border: 9px solid #ffffff;
  border-radius: 15px;
  box-shadow: 10px 10px 50px 15px rgba(0, 0, 0, 0.3);
  background-color: #455a64;
  position: relative;
}

.canvas-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #37474f;
}

.controls {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button[class^="btn"] {
  background-color: #a0a809;
  padding: 5px 20px;
  text-transform: uppercase;
  font-family: "Varela Round";
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.3em;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s, background 0.3s;
  text-align: center;
  margin: 0 20px 0;
  margin-bottom: 20px;
}
button[class^="btn"]:hover {
  background: #a0a809;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
}

button[disabled] {
  background: #a0a809;
}

.range {
  width: 100%;
  margin-bottom: 20px;
  margin: 0 20px 20px;
  display: flex;
  align-items: center;
}
.range label {
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
  width: 30%;
}
.range_inputWrapper {
  width: 100%;
  position: relative;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.range_inputValue {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  color: white;
  font-size: 14px;
  height: 100%;
  padding-left: 3px;
  line-height: 20px;
}
.range_inputSlider {
  transform-origin: left top;
  position: absolute;
  top: 0;
  left: 0;
  background: #a0a809;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}
.range input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: ew-resize;
  z-index: 1;
}

.score {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  opacity: 0.3;
  text-transform: uppercase;
  color: white;
}

.dpad {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: none;
}

button[class^="control"] {
  background: #a0a809;
  border: none;
  border-radius: 3px;
}

.control-up {
  display: block;
}

.control-down svg {
  transform: rotate(180deg);
}

.control-left svg {
  transform: rotate(90deg);
}

.control-right svg {
  transform: rotate(-90deg);
}

.mobile-controls {
  display: none;
  align-items: center;
  margin-bottom: 20px;
}

.upAndDown {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.btn-up,
.btn-down {
  padding-left: 15.5px !important;
}
.btn-up,
.btn-down,
.btn-left,
.btn-right {
  width: 50px !important;
  height: 50px !important;
  margin: 2px !important;
  border-radius: 50% !important;
  font-size: 1.6em !important;
  text-align: center;
}

@media (max-width: 1000px) {
  .mobile-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  button[class^="btn"] {
    margin: 10px 10px;
    margin-bottom: 30px;
  }
}

@media (min-width: 450px) {
  button[class^="btn"] {
    width: 150px;
  }
}

.MDJAminDiv {
  z-index: 4444;
  position: fixed;
  bottom: 5%;
  left: 2%;
}

.MDJAmin {
  text-decoration: none;
  border-top: 1px dashed rgb(255, 255, 255) !important;
  border-bottom: 1px dashed rgb(255, 255, 255) !important;
  padding: 4px 2px;
  color: rgba(255, 255, 255, 0.414);
  font-family: monospace;
  font-style: italic;
  font-size: 1.3em;
  transition: all 0.5s;
}

.MDJAmin:hover {
  color: rgb(255, 255, 255);
}
